# Student Activity: Finding Alpha
---

### Start by importing the dependencies

>NOTICE: you will need `yfinance` and `getFamaFrenchFactors` libraries to run this file.
>
> `statsmodels` library should come included wih anaconda. You can check local machine for any of these packages by running the following commands in Terminal/ Git Bash

* Check Terminal/ Git Bash:

```shell
conda activate
conda list statsmodels
```

* After checking packages, if `yfinance` and/or `getFamaFrenchFactors` are not installed on your machine you can `pip install` these packages in your Terminal/ Git Bash or upgrade the current version by using:

```bash
pip install yfinance --upgrade
pip install getFamaFrenchFactors --upgrade
```

In [4]:
# Import packages 
import numpy as np
import pandas as pd
import yfinance as yf
import getFamaFrenchFactors as gff
import statsmodels.regression.linear_model as ln
import statsmodels.tools.tools as ot

### Retrieve Stock data from yfinance

In [7]:
# retrieve daily stock data and load into dataframe
portfolio_data = yf.download(tickers="SPY FB AMZN AAPL NFLX GOOGL", start="2021-01-01", end="2022-01-01", interval = "1d")
portfolio_df = portfolio_data['Adj Close']
daily_returns = portfolio_df.pct_change().dropna()

[*********************100%***********************]  6 of 6 completed

,AAPL,AMZN,FB,GOOGL,NFLX,SPY
Date,,,,,,
2021-01-04,128.453445,3186.629883,268.940002,1726.130005,522.859985,363.938782
2021-01-05,130.041611,3218.510010,270.970001,1740.050049,520.799988,366.445343
2021-01-06,125.664223,3138.379883,263.309998,1722.880005,500.489990,368.636139
2021-01-07,129.952286,3162.159912,268.739990,1774.339966,508.890015,374.113129
2021-01-08,131.073914,3182.699951,267.570007,1797.829956,510.399994,376.244720
...,...,...,...,...,...,...
2021-12-27,180.100540,3393.389893,346.179993,2958.129883,613.119995,477.260010
2021-12-28,179.061859,3413.219971,346.220001,2933.739990,610.710022,476.869995
2021-12-29,179.151749,3384.020020,342.940002,2933.100098,610.539978,477.480011
2021-12-30,177.973251,3372.889893,344.359985,2924.010010,612.090027,476.160004
2021-12-31,177.344055,3334.340088,336.350006,2897.040039,602.440002,474.959991

In [6]:
ff3 = gff.famaFrench3Factor(frequency='m')
ff3

     date_ff_factors  Mkt-RF     SMB     HML      RF
0         1926-07-31  0.0296 -0.0238 -0.0273  0.0022
1         1926-08-31  0.0264 -0.0147  0.0414  0.0025
2         1926-09-30  0.0036 -0.0139  0.0012  0.0023
3         1926-10-31 -0.0324 -0.0013  0.0065  0.0032
4         1926-11-30  0.0253 -0.0016 -0.0038  0.0031
...              ...     ...     ...     ...     ...
1141      2021-08-31  0.0290 -0.0048 -0.0013  0.0000
1142      2021-09-30 -0.0437  0.0080  0.0509  0.0000
1143      2021-10-31  0.0665 -0.0228 -0.0044  0.0000
1144      2021-11-30 -0.0155 -0.0135 -0.0053  0.0000
1145      2021-12-31  0.0310 -0.0158  0.0322  0.0001

[1146 rows x 5 columns]